name: Run Python

# Thanks to [https://github.com/JHUISI/charm/blob/dev/.github/workflows/ci.yml](https://github.com/JHUISI/charm/blob/dev/.github/workflows/ci.yml). 

on:
  workflow_dispatch:
    inputs:
      cryptographyScheme:
        description: 'Cryptography scheme'
        required: true
        default: 'SchemeIBMETR/SchemeIBMETR.py'
        type: choice
        options:
          - 'SchemeAAIBME/SchemeAAIBME.py'
          - 'SchemeAAIBME/SchemeFuzzyME.py'
          - 'SchemeCANIFPPCT/SchemeCANIFPPCT.py'
          - 'SchemeHIBME/SchemeAnonymousME.py'
          - 'SchemeHIBME/SchemeHIBME.py'
          - 'SchemeIBMEMR/SchemeIBBME.py'
          - 'SchemeIBMEMR/SchemeIBMEMR.py'
          - 'SchemeIBMETR/SchemeAIBE.py'
          - 'SchemeIBMETR/SchemeARES.py'
          - 'SchemeIBMETR/SchemeIBME.py'
          - 'SchemeIBMETR/SchemeIBMECH.py'
          - 'SchemeIBMETR/SchemeIBMETR.py'
          - 'SchemeIBPRME/SchemeIBPME.py'
          - 'SchemeIBPRME/SchemeIBPRME.py'
          - 'SchemeIBPRME/SchemePBAC.py'
          - 'SchemeVLPSICA/SchemeVLPSICA.py'
      outputFormat:
        description: 'Output format'
        required: true
        default: '.xlsx'
        type: choice
        options:
          - .xlsx
          - .csv
          - .txt
      pythonVersion:
        description: 'Python version'
        required: true
        default: '3.x'
        type: choice
        options:
          - '3.x'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
      roundCount:
        description: 'Round count'
        required: true
        default: 10
        type: number

jobs:
  runPython:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python ${{ github.event.inputs.pythonVersion }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ github.event.inputs.pythonVersion }}
    
    - name: Install system dependencies
      run: |
        cd "${{ github.workspace }}"
        sudo apt-get update
        sudo apt-get install -y bison build-essential flex libfl-dev libgmp-dev libssl-dev wget
    
    - name: Build and install the PBC library
      run: |
        cd "${{ github.workspace }}"
        wget https://crypto.stanford.edu/pbc/files/pbc-1.0.0.tar.gz
        tar -xzf pbc-1.0.0.tar.gz
        cd pbc-1.0.0
        ./configure LDFLAGS="-lgmp"
        make -j$(nproc)
        sudo make install
        sudo ldconfig
    
    - name: Build and install the Python charm library
      run: |
        cd "${{ github.workspace }}"
        python -m pip install --upgrade pip
        python -m pip install openpyxl pandas setuptools
        git clone https://github.com/JHUISI/charm.git
        cd charm
        chmod +x ./configure.sh
        ./configure.sh
        make -j$(nproc)
        sudo make install
    
    - name: Get ready to run
      id: ready
      run: |
        cd "${{ github.workspace }}"
        echo "Cryptography scheme: ${{ github.event.inputs.cryptographyScheme }}"
        echo "Output format: ${{ github.event.inputs.outputFormat }}"
        echo "Python version: ${{ github.event.inputs.pythonVersion }}"
        echo "Round count: ${{ github.event.inputs.roundCount }}"
        inputFilePath="${{ github.event.inputs.cryptographyScheme }}"
        outputFilePath="$(echo "${inputFilePath}" | sed "s/\.[^.]*\$/${{ github.event.inputs.outputFormat }}/g")"
        outputFileName="$(basename "${outputFilePath}")"
        echo "outputFilePath=${outputFilePath}" >> ${GITHUB_OUTPUT}
        echo "outputFileName=${outputFileName}" >> ${GITHUB_OUTPUT}
    
    - name: Run the specific cryptography scheme
      run: |
        cd "${{ github.workspace }}"
        echo "The current working directory is \"$(pwd)\". "
        if [[ -f "${{ github.event.inputs.cryptographyScheme }}" ]];
        then
          echo "\$ python \"${{ github.event.inputs.cryptographyScheme }}\" -o \"${{ steps.ready.outputs.outputFilePath }}\" -r ${{ github.event.inputs.roundCount }} -t 0 -y"
          python "${{ github.event.inputs.cryptographyScheme }}" -o "${{ steps.ready.outputs.outputFilePath }}" -r ${{ github.event.inputs.roundCount }} -t 0 y
        else
          echo "Could not execute the cryptography scheme file \"${{ github.event.inputs.cryptographyScheme }}\" via Python. "
          tree
          exit 1
        fi
    
    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.ready.outputs.outputFileName }}
        path: ${{ github.workspace }}/${{ steps.ready.outputs.outputFilePath }}